@import url(https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=PT+Mono&display=fallback);

@font-face {
	font-family: Aspekta;
	font-weight: 350;
	font-style: normal;
	font-display: fallback;
	src: url('../fonts/Aspekta-350.woff2') format('woff2')
}

@font-face {
	font-family: Aspekta;
	font-weight: 400;
	font-style: normal;
	font-display: fallback;
	src: url('../fonts/Aspekta-400.woff2') format('woff2')
}

@font-face {
	font-family: Aspekta;
	font-weight: 500;
	font-style: normal;
	font-display: fallback;
	src: url('../fonts/Aspekta-500.woff2') format('woff2')
}

@font-face {
	font-family: Aspekta;
	font-weight: 650;
	font-style: normal;
	font-display: fallback;
	src: url('../fonts/Aspekta-650.woff2') format('woff2')
}

*,
::after,
::before {
	box-sizing: border-box;
	border-width: 0;
	border-style: solid;
	border-color: #e5e7eb
}

::after,
::before {
	--tw-content: ''
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

body {
	margin: 0;
	line-height: inherit
}

hr {
	height: 0;
	color: inherit;
	border-top-width: 1px
}

abbr:where([title]) {
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit
}

a {
	color: inherit;
	text-decoration: inherit
}

b,
strong {
	font-weight: bolder
}

code,
kbd,
pre,
samp {
	font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1em
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sub {
	bottom: -.25em
}

sup {
	top: -.5em
}

table {
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	color: inherit;
	margin: 0;
	padding: 0
}

button,
select {
	text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
	-webkit-appearance: button;
	background-color: transparent;
	background-image: none
}

:-moz-focusring {
	outline: auto
}

:-moz-ui-invalid {
	box-shadow: none
}

progress {
	vertical-align: baseline
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto
}

[type=search] {
	-webkit-appearance: textfield;
	outline-offset: -2px
}

::-webkit-search-decoration {
	-webkit-appearance: none
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit
}

summary {
	display: list-item
}

nnquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0
}

fieldset {
	margin: 0;
	padding: 0
}

legend {
	padding: 0
}

menu,
ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0
}

textarea {
	resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #9ca3af
}

input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: #9ca3af
}

[role=button],
button {
	cursor: pointer
}

:disabled {
	cursor: default
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
}

img,
video {
	max-width: 100%;
	height: auto
}

[hidden] {
	display: none
}

[multiple],
[type=date],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	border-radius: 0;
	padding-top: .5rem;
	padding-right: .75rem;
	padding-bottom: .5rem;
	padding-left: .75rem;
	font-size: 1rem;
	line-height: 1.5rem;
	--tw-shadow: 0 0 #0000
}

[multiple]:focus,
[type=date]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=time]:focus,
[type=url]:focus,
[type=week]:focus,
select:focus,
textarea:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,
			/*!*/
			/*!*/
		);
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
	border-color: #2563eb
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: #6b7280;
	opacity: 1
}

input::placeholder,
textarea::placeholder {
	color: #6b7280;
	opacity: 1
}

::-webkit-datetime-edit-fields-wrapper {
	padding: 0
}

::-webkit-date-and-time-value {
	min-height: 1.5em
}

::-webkit-datetime-edit,
::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-meridiem-field,
::-webkit-datetime-edit-millisecond-field,
::-webkit-datetime-edit-minute-field,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-second-field,
::-webkit-datetime-edit-year-field {
	padding-top: 0;
	padding-bottom: 0
}

select {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
	background-position: right .5rem center;
	background-repeat: no-repeat;
	background-size: 1.5em 1.5em;
	padding-right: 2.5rem;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

[multiple] {
	background-image: initial;
	background-position: initial;
	background-repeat: unset;
	background-size: initial;
	padding-right: .75rem;
	-webkit-print-color-adjust: unset;
	print-color-adjust: unset; 
}

[type=checkbox],
[type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact; 
	display: inline-block;
	vertical-align: middle;
	background-origin: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	flex-shrink: 0;
	height: 1rem;
	width: 1rem;
	color: #2563eb;
	background-color: #fff;
	border-color: #6b7280;
	border-width: 1px;
	--tw-shadow: 0 0 #0000
}

[type=checkbox] {
	border-radius: 0
}

[type=radio] {
	border-radius: 100%
}

[type=checkbox]:focus,
[type=radio]:focus {
	outline: 2px solid transparent;
	outline-offset: 2px;
	--tw-ring-inset: var(--tw-empty,
			/*!*/
			/*!*/
		);
	--tw-ring-offset-width: 2px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: #2563eb;
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow)
}

[type=checkbox]:checked,
[type=radio]:checked {
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat
}

[type=checkbox]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e")
}

[type=radio]:checked {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e")
}

[type=checkbox]:checked:focus,
[type=checkbox]:checked:hover,
[type=radio]:checked:focus,
[type=radio]:checked:hover {
	border-color: transparent;
	background-color: currentColor
}

[type=checkbox]:indeterminate {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 16 16'%3e%3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 8h8'/%3e%3c/svg%3e");
	border-color: transparent;
	background-color: currentColor;
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat
}

[type=checkbox]:indeterminate:focus,
[type=checkbox]:indeterminate:hover {
	border-color: transparent;
	background-color: currentColor
}

[type=file] {
	background: unset;
	border-color: inherit;
	border-width: 0;
	border-radius: 0;
	padding: 0;
	font-size: unset;
	line-height: inherit
}

[type=file]:focus {
	outline: 1px auto -webkit-focus-ring-color
}

*,
::after,
::before {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia:
}

::-webkit-backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia:
}

::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgb(59 130 246 / 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia:
}

.t {
	width: 100%
}

@media (min-width:640px) {
	.t {
		max-width: 640px
	}
}

@media (min-width:768px) {
	.t {
		max-width: 768px
	}
}

@media (min-width:1024px) {
	.t {
		max-width: 1024px
	}
}

@media (min-width:1280px) {
	.t {
		max-width: 1280px
	}
}

@media (min-width:1536px) {
	.t {
		max-width: 1536px
	}
}

.h1 {
	font-size: 3rem;
	line-height: 1;
	letter-spacing: -.01em;
	font-weight: 650
}

.h2 {
	font-size: 2.25rem;
	line-height: 1.1;
	letter-spacing: -.01em;
	font-weight: 650
}

.h3 {
	font-size: 1.875rem;
	line-height: 1.333;
	letter-spacing: -.01em;
	font-weight: 650
}

.h4 {
	font-size: 1.5rem;
	line-height: 1.415;
	letter-spacing: -.01em;
	font-weight: 650
}

@media (min-width:768px) {
	.h1 {
		font-size: 3.75rem;
		line-height: 1;
		letter-spacing: -.01em
	}

	.h2 {
		font-size: 3rem;
		line-height: 1;
		letter-spacing: -.01em
	}

	.h3 {
		font-size: 2.25rem;
		line-height: 1.1;
		letter-spacing: -.01em
	}
}

.n,
.r {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	border-radius: 9999px;
	font-size: .875rem;
	line-height: 1.5715;
	font-weight: 500;
	line-height: 1.25rem;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-duration: 150ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.n {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .625rem;
	padding-bottom: .625rem
}

.r {
	padding-left: .75rem;
	padding-right: .75rem;
	padding-top: .5rem;
	padding-bottom: .5rem
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
	-webkit-appearance: none
}

.i,
.s,
.o,
.u,
.a,
.f {
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(226 232 240 / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.i:focus,
.s:focus,
.o:focus,
.u:focus,
.a:focus,
.f:focus {
	--tw-border-opacity: 1;
	border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.i,
.s,
.o,
.a,
.f {
	border-radius: .25rem
}

.s,
.o,
.a,
.f {
	padding-left: .75rem;
	padding-right: .75rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	font-size: .875rem;
	line-height: 1.5715
}

.s::-moz-placeholder,
.f::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.s::placeholder,
.f::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.a {
	padding-right: 2.5rem
}

.i,
.u {
	border-radius: .125rem;
	border-width: 2px;
	--tw-text-opacity: 1;
	color: rgb(59 130 246 / var(--tw-text-opacity))
}

.l::-webkit-scrollbar {
	display: none
}

.l {
	-ms-overflow-style: none;
	scrollbar-width: none
}

:root {
	--range-thumb-size: 36px
}

input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #ccc;
	border-radius: 3px;
	height: 6px;
	margin-top: (--range-thumb-size - 6px) * .5;
	margin-bottom: (--range-thumb-size - 6px) * .5;

	--thumb-size: {}

	;
}

input[type=range]::-moz-range-thumb {
	background-color: #000;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	height: --range-thumb-size;
	width: --range-thumb-size
}

input[type=range]::-ms-thumb {
	background-color: #000;
	background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 .5v7L12 4zM0 4l4 3.5v-7z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	height: --range-thumb-size;
	width: --range-thumb-size
}

input[type=range]::-moz-focus-outer {
	border: 0
}

.c {
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 44px
}

.c label {
	display: block;
	height: 1.5rem;
	cursor: pointer;
	overflow: hidden;
	border-radius: 9999px
}

.c label>span:first-child {
	position: absolute;
	display: block;
	border-radius: 9999px;
	width: 20px;
	height: 20px;
	top: 2px;
	left: 2px;
	right: 50%;
	transition: all .15s ease-out
}

.c input[type=checkbox]:checked+label {
	--tw-bg-opacity: 1;
	background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.c input[type=checkbox]:checked+label>span:first-child {
	left: 22px
}

.c input[type=checkbox]:disabled+label {
	cursor: not-allowed;
	border-width: 1px;
	--tw-border-opacity: 1;
	border-color: rgb(226 232 240 / var(--tw-border-opacity));
	--tw-bg-opacity: 1;
	background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.c input[type=checkbox]:disabled+label>span:first-child {
	--tw-bg-opacity: 1;
	background-color: rgb(148 163 184 / var(--tw-bg-opacity))
}

.i:focus:focus,
.s:focus:focus,
.o:focus:focus,
.u:focus:focus,
.a:focus:focus,
.f:focus:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(191 219 254 / var(--tw-ring-opacity))
}

.i:focus:focus,
.u:focus:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.h svg>:first-child,
.h svg>:nth-child(2),
.h svg>:nth-child(3) {
	transform-origin: center;
	transform: rotate(0)
}

.h svg>:first-child {
	transition: y .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .19), opacity .1s ease-in
}

.h svg>:nth-child(2) {
	transition: transform .22s cubic-bezier(.55, .055, .675, .19)
}

.h svg>:nth-child(3) {
	transition: y .1s .25s ease-in, transform .22s cubic-bezier(.55, .055, .675, .19), width .1s .25s ease-in
}

.h.p svg>:first-child {
	opacity: 0;
	y: 11;
	transform: rotate(225deg);
	transition: y .1s ease-out, transform .22s .12s cubic-bezier(.215, .61, .355, 1), opacity .1s .12s ease-out
}

.h.p svg>:nth-child(2) {
	transform: rotate(225deg);
	transition: transform .22s .12s cubic-bezier(.215, .61, .355, 1)
}

.h.p svg>:nth-child(3) {
	y: 11;
	transform: rotate(135deg);
	transition: y .1s ease-out, transform .22s .12s cubic-bezier(.215, .61, .355, 1), width .1s ease-out
}

[data-scrollspy-link] {
	font-weight: 400;
	--tw-text-opacity: 1;
	color: rgb(71 85 105 / var(--tw-text-opacity))
}

.dark [data-scrollspy-link] {
	--tw-text-opacity: 1;
	color: rgb(148 163 184 / var(--tw-text-opacity))
}

[data-scrollspy-link].scrollspy-active {
	font-weight: 500;
	--tw-text-opacity: 1;
	color: rgb(37 99 235 / var(--tw-text-opacity))
}

[data-scrollspy-link].scrollspy-active::before {
	content: var(--tw-content);
	--tw-bg-opacity: 1;
	background-color: rgb(96 165 250 / var(--tw-bg-opacity))
}

.d {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0
}

.v {
	pointer-events: none
}

.m {
	visibility: visible
}

.g {
	visibility: collapse
}

.y {
	position: fixed
}

.b {
	position: absolute
}

.w {
	position: relative
}

.x {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.k {
	top: 5rem
}

._ {
	top: 0
}

.j {
	left: 50%
}

.q {
	left: 0
}

.z {
	bottom: 0
}

.te {
	left: -9999px
}

.tt {
	z-index: 30
}

.tn {
	z-index: -10
}

.tr {
	z-index: 50
}

.ti {
	z-index: 10
}

.ts {
	margin-left: auto;
	margin-right: auto
}

.to {
	margin-left: .5rem;
	margin-right: .5rem
}

.tu {
	margin-top: .5rem;
	margin-bottom: .5rem
}

.ta {
	margin-left: 1rem
}

.tf {
	margin-right: .75rem
}

.tl {
	margin-left: .75rem
}

.tc {
	margin-bottom: 1rem
}

.th {
	margin-bottom: .5rem
}

.tp {
	margin-bottom: .25rem
}

.td {
	margin-bottom: .75rem
}

.tv {
	margin-top: .75rem
}

.tm {
	margin-left: .5rem
}

.tg {
	margin-left: .25rem
}

.ty {
	margin-bottom: 1.5rem
}

.tb {
	margin-bottom: 2rem
}

.tw {
	margin-right: .5rem
}

.tx {
	margin-left: auto
}

.tk {
	margin-bottom: 3rem
}

.t_ {
	margin-top: .5rem
}

.tj {
	margin-right: 1rem
}

.tq {
	margin-top: 1rem
}

.tz {
	margin-top: 2rem
}

.ne {
	margin-top: .25rem
}

.nt {
	margin-top: 0
}

.nn {
	display: block
}

.nr {
	display: inline
}

.ni {
	display: flex
}

.ns {
	display: inline-flex
}

.table {
	display: table
}

.no {
	display: grid
}

.nu {
	display: none
}

.na {
	aspect-ratio: 16/9
}

.nf {
	height: 4rem
}

.nl {
	height: 1rem
}

.nc {
	height: 1.25rem
}

.nh {
	height: .75rem
}

.np {
	height: 100vh
}

.nd {
	height: 1.5rem
}

.nv {
	height: 2rem
}

.nm {
	height: calc(100vh - 5rem)
}

.ng {
	height: 6rem
}

.ny {
	max-height: 100%
}

.nb {
	min-height: 100vh
}

.nw {
	width: 100%
}

.nx {
	width: 1rem
}

.nk {
	width: 1.25rem
}

.n_ {
	width: .75rem
}

.nj {
	width: 16rem
}

.nq {
	width: 1.5rem
}

.nz {
	width: 4rem
}

.re {
	width: 2rem
}

.rt {
	width: 12rem
}

.rn {
	min-width: 0
}

.rr {
	max-width: 80rem
}

.ri {
	max-width: 42rem
}

.rs {
	max-width: none
}

.ro {
	max-width: 56rem
}

.ru {
	max-width: 36rem
}

.ra {
	max-width: 28rem
}

.rf {
	flex-shrink: 0
}

.rl {
	flex-grow: 1
}

.rc {
	table-layout: auto
}

.rh {
	--tw-translate-y: 1rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rp {
	--tw-translate-y: 0px;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rd {
	--tw-translate-x: -50%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rv {
	--tw-translate-x: -100%;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rm {
	--tw-translate-x: 0px;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rg {
	--tw-rotate: 90deg;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.ry {
	--tw-rotate: 180deg;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rb {
	--tw-scale-x: .95;
	--tw-scale-y: .95;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rw {
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rx {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rk {
	cursor: pointer
}

.r_ {
	scroll-margin-top: 6rem
}

.rj {
	list-style-position: inside
}

.rq {
	list-style-type: disc
}

.rz {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

.ie {
	grid-template-columns: repeat(1, minmax(0, 1fr))
}

.it {
	grid-template-columns: repeat(2, minmax(0, 1fr))
}

.in {
	flex-direction: column
}

.ir {
	flex-wrap: wrap
}

.ii {
	align-items: flex-start
}

.is {
	align-items: flex-end
}

.io {
	align-items: center
}

.iu {
	justify-content: flex-end
}

.ia {
	justify-content: center
}

.if {
	justify-content: space-between
}

.il {
	gap: 1.5rem
}

.ic>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.ih>:not([hidden])~:not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(.75rem * var(--tw-space-x-reverse));
	margin-left: calc(.75rem * calc(1 - var(--tw-space-x-reverse)))
}

.ip>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.id>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(.5rem * var(--tw-space-y-reverse))
}

.iv>:not([hidden])~:not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1.5rem * var(--tw-space-x-reverse));
	margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.im>:not([hidden])~:not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(1rem * var(--tw-space-x-reverse));
	margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.ig>:not([hidden])~:not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(.5rem * var(--tw-space-x-reverse));
	margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.iy>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.ib>:not([hidden])~:not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(.75rem * var(--tw-space-y-reverse))
}

.iw>:not([hidden])~:not([hidden]) {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.ix {
	overflow: auto
}

.ik {
	overflow: hidden
}

.i_ {
	overflow-x: auto
}

.ij {
	overflow-y: auto
}

.iq {
	scroll-behavior: smooth
}

.iz {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.se {
	white-space: nowrap
}

.st {
	border-radius: .25rem
}

.sn {
	border-radius: .375rem
}

.sr {
	border-width: 1px
}

.si {
	border-width: 0
}

.ss {
	border-width: 2px
}

.so {
	border-bottom-width: 1px
}

.su {
	border-right-width: 1px
}

.sa {
	border-left-width: 1px
}

.sf {
	border-top-width: 1px
}

.sl {
	border-bottom-width: 2px
}

.sc {
	--tw-border-opacity: 1;
	border-color: rgb(226 232 240 / var(--tw-border-opacity))
}

.sh {
	--tw-border-opacity: 1;
	border-color: rgb(51 65 85 / var(--tw-border-opacity))
}

.sp {
	--tw-border-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.sd {
	--tw-border-opacity: 1;
	border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.sv {
	border-color: transparent
}

.sm {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.sg {
	--tw-bg-opacity: 1;
	background-color: rgb(15 23 42 / var(--tw-bg-opacity))
}

.sy {
	--tw-bg-opacity: 1;
	background-color: rgb(37 99 235 / var(--tw-bg-opacity))
}

.sb {
	--tw-bg-opacity: 1;
	background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.sw {
	--tw-bg-opacity: 1;
	background-color: rgb(20 184 166 / var(--tw-bg-opacity))
}

.sx {
	--tw-bg-opacity: 1;
	background-color: rgb(244 63 94 / var(--tw-bg-opacity))
}

.sk {
	--tw-bg-opacity: 1;
	background-color: rgb(168 85 247 / var(--tw-bg-opacity))
}

.s_ {
	--tw-bg-opacity: 1;
	background-color: rgb(59 130 246 / var(--tw-bg-opacity))
}

.sj {
	--tw-bg-opacity: 1;
	background-color: rgb(248 250 252 / var(--tw-bg-opacity))
}

.sq {
	--tw-bg-opacity: 1;
	background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.sz {
	--tw-bg-opacity: 1;
	background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.oe {
	--tw-bg-opacity: 0.7
}

.ot {
	--tw-bg-opacity: 0.2
}

.on {
	--tw-bg-opacity: 0.25
}

.or {
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops))
}

.oi {
	--tw-gradient-from: #f8fafc;
	--tw-gradient-to: rgb(248 250 252 / 0);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.os {
	--tw-gradient-to: #fff
}

.oo {
	fill: #64748b
}

.ou {
	fill: #94a3b8
}

.oa {
	fill: #2563eb
}

.of {
	fill: #a855f7
}

.ol {
	fill: #60a5fa
}

.oc {
	fill: #3b82f6
}

.oh {
	fill: #fff
}

.op {
	fill: #c084fc
}

.od {
	fill: #9333ea
}

.ov {
	fill: #38bdf8
}

.om {
	fill: #0284c7
}

.og {
	fill: #475569
}

.oy {
	fill: currentColor
}

.ob {
	fill: #14b8a6
}

.ow {
	padding: .5rem
}

.ox {
	padding: .25rem
}

.ok {
	padding: 1rem
}

.o_ {
	padding-left: 1rem;
	padding-right: 1rem
}

.oj {
	padding-top: 7px;
	padding-bottom: 7px
}

.oq {
	padding-top: .75rem;
	padding-bottom: .75rem
}

.oz {
	padding-top: 1rem;
	padding-bottom: 1rem
}

.ue {
	padding-left: .5rem;
	padding-right: .5rem
}

.ut {
	padding-top: .25rem;
	padding-bottom: .25rem
}

.un {
	padding-left: .25rem;
	padding-right: .25rem
}

.ur {
	padding-top: 2rem;
	padding-bottom: 2rem
}

.ui {
	padding-top: .375rem;
	padding-bottom: .375rem
}

.us {
	padding-left: 1.5rem;
	padding-right: 1.5rem
}

.uo {
	padding-top: 3rem;
	padding-bottom: 3rem
}

.uu {
	padding-left: .125rem;
	padding-right: .125rem
}

.ua {
	padding-left: 0;
	padding-right: 0
}

.uf {
	padding-left: .75rem
}

.ul {
	padding-right: .5rem
}

.uc {
	padding-left: .5rem
}

.uh {
	padding-right: 1rem
}

.up {
	padding-top: 6rem
}

.ud {
	padding-bottom: 2rem
}

.uv {
	padding-left: 1.5rem
}

.um {
	padding-left: 1rem
}

.ug {
	padding-top: 2rem
}

.uy {
	padding-top: 8rem
}

.ub {
	padding-left: 1.25rem
}

.uw {
	text-align: left
}

.ux {
	text-align: center
}

.uk {
	font-family: Aspekta, sans-serif
}

.u_ {
	font-family: Nothing You Could Do, cursive
}

.uj {
	font-family: PT Mono, monospace
}

.uq {
	font-size: 15px
}

.uz {
	font-size: .875rem;
	line-height: 1.5715
}

.ae {
	font-size: 1.25rem;
	line-height: 1.5;
	letter-spacing: -.01em
}

.at {
	font-size: 1.125rem;
	line-height: 1.5;
	letter-spacing: -.01em
}

.an {
	font-size: .75rem;
	line-height: 1.5
}

.ar {
	font-size: 2.25rem;
	line-height: 1.1;
	letter-spacing: -.01em
}

.ai {
	font-size: 1.5rem;
	line-height: 1.415;
	letter-spacing: -.01em
}

.as {
	font-weight: 350
}

.ao {
	font-weight: 500
}

.au {
	font-weight: 650
}

.aa {
	font-weight: 400
}

.af {
	font-weight: 700
}

.al {
	text-transform: uppercase
}

.ac {
	line-height: 1.25rem
}

.ah {
	line-height: 1.5rem
}

.ap {
	--tw-text-opacity: 1;
	color: rgb(30 41 59 / var(--tw-text-opacity))
}

.ad {
	--tw-text-opacity: 1;
	color: rgb(148 163 184 / var(--tw-text-opacity))
}

.av {
	--tw-text-opacity: 1;
	color: rgb(100 116 139 / var(--tw-text-opacity))
}

.am {
	--tw-text-opacity: 1;
	color: rgb(241 245 249 / var(--tw-text-opacity))
}

.ag {
	--tw-text-opacity: 1;
	color: rgb(71 85 105 / var(--tw-text-opacity))
}

.ay {
	--tw-text-opacity: 1;
	color: rgb(37 99 235 / var(--tw-text-opacity))
}

.ab {
	--tw-text-opacity: 1;
	color: rgb(147 51 234 / var(--tw-text-opacity))
}

.aw {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity))
}

.ax {
	--tw-text-opacity: 1;
	color: rgb(226 232 240 / var(--tw-text-opacity))
}

.ak {
	--tw-text-opacity: 1;
	color: rgb(20 184 166 / var(--tw-text-opacity))
}

.a_ {
	--tw-text-opacity: 1;
	color: rgb(251 113 133 / var(--tw-text-opacity))
}

.aj {
	--tw-text-opacity: 1;
	color: rgb(168 85 247 / var(--tw-text-opacity))
}

.aq {
	--tw-text-opacity: 1;
	color: rgb(13 148 136 / var(--tw-text-opacity))
}

.az {
	--tw-text-opacity: 1;
	color: rgb(244 63 94 / var(--tw-text-opacity))
}

.fe {
	--tw-text-opacity: 1;
	color: rgb(59 130 246 / var(--tw-text-opacity))
}

.ft {
	--tw-text-opacity: 1;
	color: rgb(2 132 199 / var(--tw-text-opacity))
}

.fn {
	--tw-text-opacity: 1;
	color: rgb(17 24 39 / var(--tw-text-opacity))
}

.fr {
	--tw-text-opacity: 1;
	color: rgb(75 85 99 / var(--tw-text-opacity))
}

.fi {
	--tw-text-opacity: 1;
	color: rgb(55 65 81 / var(--tw-text-opacity))
}

.fs {
	--tw-text-opacity: 1;
	color: rgb(79 70 229 / var(--tw-text-opacity))
}

.fo {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity))
}

.fu {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity))
}

.fa {
	text-decoration-line: underline
}

.ff {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.fl::-moz-placeholder {
	--tw-placeholder-opacity: 1;
	color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.fl::placeholder {
	--tw-placeholder-opacity: 1;
	color: rgb(148 163 184 / var(--tw-placeholder-opacity))
}

.fc {
	opacity: 0
}

.fh {
	opacity: 1
}

.fp {
	opacity: .8
}

.fd {
	opacity: .3
}

.fv {
	--tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
	--tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.fm {
	--tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
	--tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
	box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.fg {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.fy {
	--tw-backdrop-blur: blur(8px);
	-webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.fb {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms
}

.fw {
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms
}

.fx {
	transition-duration: .2s
}

.fk {
	transition-duration: .1s
}

.f_ {
	transition-duration: 150ms
}

.fj {
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.fq {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

[x-cloak=""] {
	display: none
}

.fz::before {
	content: var(--tw-content);
	pointer-events: none
}

.le::before {
	content: var(--tw-content);
	position: absolute
}

.lt::before {
	content: var(--tw-content);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0
}

.ln::before {
	content: var(--tw-content);
	left: -1px
}

.lr::before {
	content: var(--tw-content);
	top: .5rem
}

.li::before {
	content: var(--tw-content);
	bottom: .5rem
}

.ls::before {
	content: var(--tw-content);
	z-index: -10
}

.lo::before {
	content: var(--tw-content);
	display: none
}

.lu::before {
	content: var(--tw-content);
	width: .125rem
}

.la::before {
	content: var(--tw-content);
	width: 0
}

.lf::before {
	content: var(--tw-content);
	border-radius: .25rem
}

.ll::before {
	content: var(--tw-content);
	background-image: linear-gradient(to top right, var(--tw-gradient-stops))
}

.lc::before {
	content: var(--tw-content);
	--tw-gradient-from: #60a5fa;
	--tw-gradient-to: rgb(96 165 250 / 0);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to)
}

.lh::before {
	content: var(--tw-content);
	--tw-gradient-to: #a855f7
}

.lp::before {
	content: var(--tw-content);
	opacity: .2
}

.ld:first-child {
	padding-left: 0
}

.lv:last-child {
	padding-right: 0
}

.lm:hover {
	--tw-border-opacity: 1;
	border-color: rgb(203 213 225 / var(--tw-border-opacity))
}

.lg:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.ly:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(29 78 216 / var(--tw-bg-opacity))
}

.lb:hover {
	--tw-text-opacity: 1;
	color: rgb(37 99 235 / var(--tw-text-opacity))
}

.lw:hover {
	text-decoration-line: underline
}

.lx:focus {
	--tw-border-opacity: 1;
	border-color: rgb(165 180 252 / var(--tw-border-opacity))
}

.lk:focus {
	--tw-border-opacity: 1;
	border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.l_:focus {
	--tw-border-opacity: 1;
	border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.lj:focus {
	--tw-border-opacity: 1;
	border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

.lq:focus {
	border-color: transparent
}

.lz:focus {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.ce:focus {
	--tw-bg-opacity: 1;
	background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.ct:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.cn:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.cr:focus {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.ci:focus {
	--tw-ring-color: transparent
}

.cs:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(199 210 254 / var(--tw-ring-opacity))
}

.co:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(0 0 0 / var(--tw-ring-opacity))
}

.cu:focus {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(107 114 128 / var(--tw-ring-opacity))
}

.ca:focus {
	--tw-ring-opacity: 0.5
}

.cf:focus {
	--tw-ring-offset-width: 0px
}

.cl:focus {
	--tw-ring-offset-width: 2px
}

.cc:hover .ch {
	opacity: 1
}

.dark .cp {
	display: block
}

.dark .cd {
	display: none
}

.dark .cv {
	--tw-border-opacity: 1;
	border-color: rgb(30 41 59 / var(--tw-border-opacity))
}

.dark .cm {
	--tw-border-opacity: 1;
	border-color: rgb(51 65 85 / var(--tw-border-opacity))
}

.dark .cg {
	--tw-border-opacity: 1;
	border-color: rgb(71 85 105 / var(--tw-border-opacity))
}

.dark .cy {
	--tw-bg-opacity: 1;
	background-color: rgb(15 23 42 / var(--tw-bg-opacity))
}

.dark .cb {
	--tw-bg-opacity: 1;
	background-color: rgb(30 41 59 / var(--tw-bg-opacity))
}

.dark .cw {
	--tw-bg-opacity: 1;
	background-color: rgb(51 65 85 / var(--tw-bg-opacity))
}

.dark .cx {
	fill: #94a3b8
}

.dark .ck {
	fill: #64748b
}

.dark .c_ {
	fill: #1e293b
}

.dark .cj {
	--tw-text-opacity: 1;
	color: rgb(226 232 240 / var(--tw-text-opacity))
}

.dark .scr {
	--tw-text-opacity: 1;
	color: rgb(177 105 250 / var(--tw-text-opacity))
}

.dark .cjh:hover {
	--tw-text-opacity: 1;
	color: rgb(255 105 250 / var(--tw-text-opacity))
}

.dark .cq {
	--tw-text-opacity: 1;
	color: rgb(100 116 139 / var(--tw-text-opacity))
}

.dark .cz {
	--tw-text-opacity: 1;
	color: rgb(148 163 184 / var(--tw-text-opacity))
}

.dark .he::-moz-placeholder {
	--tw-text-opacity: 1;
	color: rgb(100 116 139 / var(--tw-text-opacity))
}

.dark .he::placeholder {
	--tw-text-opacity: 1;
	color: rgb(100 116 139 / var(--tw-text-opacity))
}

.dark .ht:hover {
	--tw-border-opacity: 1;
	border-color: rgb(71 85 105 / var(--tw-border-opacity))
}

.dark .hn:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(51 65 85 / var(--tw-bg-opacity))
}

@media (min-width:640px) {
	.hr {
		display: inline
	}

	.hi {
		display: flex
	}

	.hs {
		height: 5rem
	}

	.ho {
		width: 380px
	}

	.hu {
		width: 5rem
	}

	.ha {
		width: 50%
	}

	.hf>:not([hidden])~:not([hidden]) {
		--tw-space-y-reverse: 0;
		margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
		margin-bottom: calc(0px * var(--tw-space-y-reverse))
	}

	.hl>:not([hidden])~:not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(1rem * var(--tw-space-x-reverse));
		margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
	}

	.hc {
		padding-left: 1.5rem;
		padding-right: 1.5rem
	}
}

@media (min-width:768px) {
	.hh {
		top: 7rem
	}

	.hp {
		left: auto
	}

	.hd {
		margin-left: 2rem
	}

	.hv {
		margin-bottom: 0
	}

	.hm {
		margin-bottom: 4rem
	}

	.hg {
		display: block !important
	}

	.hy {
		display: block
	}

	.hb {
		display: none
	}

	.hw {
		height: 5rem
	}

	.hx {
		max-width: 56rem
	}

	.hk {
		flex-shrink: 0
	}

	.h_ {
		flex-grow: 1
	}

	.hj {
		grid-template-columns: repeat(2, minmax(0, 1fr))
	}

	.hq {
		flex-direction: row
	}

	.hz {
		justify-content: space-between
	}

	.pe {
		padding-left: 0
	}

	.pt {
		padding-right: 2rem
	}

	.pn {
		padding-top: 7rem
	}

	.pr {
		padding-left: 16rem
	}

	.pi {
		padding-left: 1.5rem
	}

	.ps {
		opacity: 1 !important
	}
}

@media (min-width:1024px) {
	.po {
		display: inline
	}

	.pu {
		padding-right: 1.5rem
	}

	.pa {
		padding-left: 3rem
	}
}

@media (min-width:1280px) {
	.pf {
		display: block
	}

	.pl>:not([hidden])~:not([hidden]) {
		--tw-space-x-reverse: 0;
		margin-right: calc(3rem * var(--tw-space-x-reverse));
		margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)))
	}

	.pc {
		padding-right: 0
	}
}